# Quarto build output
.quarto/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# IDE settings
.Rproj.user/
.vscode/

# Temporary and backup files
*.bak
*.tmp

/.quarto/
**/*.quarto_ipynb
